.quality-navbar{
    background-color: #C6E2FF;
}

.quality-link{
    color: black;
    text-decoration: none;
}

.quality-link:link{
    text-decoration: none;
}

.quality-link:visited{
    text-decoration: none;
}

.cell{
    padding: 15px;
    border: 1px solid black;
    font-size: 18px;
}

.scroll{
    overflow: auto;
    height: 100px;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

.personalized-title{
    text-align: center;
    font-size: 40px;
}

.kg_checkbox{
    height: 25px;
    width: 25px;
}

.kg-del-btn{
    margin-top: 5px;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    margin-left: 5px;
}

.btn-text{
    margin-top: 20px;
    font-size: 16px;
}

.selectedKGs-tab{
    margin-top: 10px;
}

.search-wrap{
    margin-left: 50px;
}

#selectedKG-tab{
    border: 1px solid;
    border-color: gray;
    border-radius: 10px;
    margin-left: 5px;
    width: 95%;
    background-color: white;
}

#selectedKGs-text{
    text-align: center;
    font-size: 20px;
}