.quality-navbar{
    background-color: #C6E2FF;
}

.quality-link{
    color: black;
    text-decoration: none;
}

.quality-link:link{
    text-decoration: none;
}

.quality-link:visited{
    text-decoration: none;
}

.cell{
    padding: 15px;
    border: 1px solid black;
    font-size: 18px;
}

.scroll{
    overflow: auto;
    height: 100px;
}