REACT_APP_API_URL=http://localhost:5006/
REACT_APP_PUBLIC_URL=http://localhost:3001
KGH_PUBLIC_URL=http://localhost:8000
KGH_CORS_ORIGINS=http://localhost:3001
MONGO_URI=mongodb://mongodb:27017
DB_NAME=KGHeartbeatDB
